<div class="mt-14">
  <div class="w-full bg-default flex items-center justify-center py-16">
    <span class="text-white text-3xl sm:text-6xl font-bold">UPDATE RENTAL ITEM</span>
  </div>
  <form class="mx-14 border-slate-900" [formGroup]="updateForm">
    <div class="box">
      <fieldset class="form-fieldset">
        <div class="form-panel">
          <div class="body">
            <!-- Name -->
            <div class="inline-field mt-0 mb-0">
              <span class="lbl items-center flex">
                <label class="field-label">Name</label>
              </span>
              <div class="control">
                <mat-form-field appearance="outline" class="w-full mt-2">
                  <input formControlName="name" type="text" matInput>
                </mat-form-field>
              </div>
            </div>

            <!-- Description -->
            <div class="inline-field mt-0 mb-0">
              <span class="lbl items-center flex">
                <label class="field-label">Description</label>
              </span>
              <div class="control">
                <mat-form-field appearance="outline" class="w-full mt-2">
                  <input formControlName="description" type="text" matInput>
                </mat-form-field>
              </div>
            </div>

            <!-- Price -->
            <div class="inline-field mt-0 mb-0">
              <span class="lbl items-center flex">
                <label class="field-label">Price</label>
              </span>
              <div class="control">
                <mat-form-field class="w-full" appearance="outline">
                  <input [min]="0" [minlength]="0" formControlName="price" class="w-full" type="text" matInput
                    (change)="onEntryFeeChange()">
                </mat-form-field>
              </div>
            </div>

            <div class="inline-field mt-0 mb-0">
              <span class="lbl items-center flex">
              </span>
              <div class="w-full">
                <button mat-raised-button class="w-1/3 float-right mt-2" color="primary" (click)="submit()">
                  Update</button>
              </div>
            </div>
          </div>
        </div>
      </fieldset>
    </div>
  </form>
</div>