<h2 class="mt-16"></h2>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

<div class="header-paget">
  <h4>CREATE RENTAL ITEMS</h4>
</div>

<div class="w-full flex justify-center mt-3">
  <div class="w-1/1">
    <button
      class="mt-4"
      mat-raised-button
      color="primary"
      (click)="routing.goToRental()"
    >
      Go back
    </button>
  </div>
</div>

<div class="box mt-16">
  <fieldset class="form-fieldset">
    <div class="form-panel">
      <div class="body">


        <div class="inline-field">
          <span class="lbl">
            <label class="field-label -required" for="item_name">Item name</label>
          </span>
          <div class="control">
            <input maxlength="40" required="required" class="auto-focus form-control" size="60" type="text" [(ngModel)]="name" id="item_name">
            <!-- <input maxlength="40" required="required" class="auto-focus form-control" size="60" type="text" ng-model="item.name" id="item_name"> -->
          </div>
        </div>

        <div class="inline-field">
          <span class="lbl">
            <label class="field-label -required" for="item_description">Description</label>
          </span>
          <div class="control">
            <textarea cols="60" required="required" class="auto-focus form-control" [(ngModel)]="description" id="item_description"></textarea>
            <!-- <textarea cols="60" required="required" class="auto-focus form-control" ng-model="item.description" id="item_description"></textarea> -->
          </div>
        </div>

        <div class="inline-field">
          <span class="lbl">
            <label class="field-label -required" for="item_period">Rental period</label>
          </span>
          <div class="control">
            <button mat-icon-button [matMenuTriggerFor]="appMenu">
              <mat-icon>calendar_today</mat-icon>
            </button>
            <mat-menu #appMenu="matMenu" class="drop-calendar" >
              <div (click)="$event.stopPropagation()">
                <mat-calendar #calendar (selectedChange)="select($event,calendar)" [dateClass]="isSelected" [(ngModel)]="availableAt"></mat-calendar>
              </div>
            </mat-menu>
            <pre>
            {{daysSelected|json}}
            </pre>
          </div>
        </div>

        

        <div class="inline-field">
          <span class="lbl">
            <label class="field-label -required" for="item_price">Price</label>
          </span>
          <div class="control">
            <input maxlength="60" required="required" class="auto-focus form-control" size="60" type="number" [(ngModel)]="price" id="item_price"> €
            <!-- <input maxlength="60" required="required" class="auto-focus form-control" size="60" type="number" ng-model="item.price" id="item_price"> $ -->
          </div>
        </div>

        <div class="inline-field">
          <span class="lbl">
            <label class="field-label -required" for="bank_name">Bank account name</label>
          </span>
          <div class="control">
            <input maxlength="40" required="required" placeholder="John Cena" class="auto-focus form-control" size="60" type="text" [(ngModel)]="bankAccountName" id="bank_name">
            <!-- <input maxlength="40" required="required" class="auto-focus form-control" size="60" type="text" ng-model="item.name" id="item_name"> -->
          </div>
        </div>

        <div class="inline-field">
          <span class="lbl">
            <label class="field-label -required" for="bank_number">IBAN number</label>
          </span>
          <div class="control">
            <input maxlength="40" required="required" placeholder="LT000000000000000000" class="auto-focus form-control" size="60" type="text" [(ngModel)]="bankAccountNumber" id="bank_number">
            <!-- <input maxlength="40" required="required" class="auto-focus form-control" size="60" type="text" ng-model="item.name" id="item_name"> -->
          </div>
        </div>

        <div class="inline-field">
          <span class="lbl">
            <label class="field-label -required" for="bank_reason">Transaction reason</label>
          </span>
          <div class="control">
            <input maxlength="40" placeholder="Debt" required="required" class="auto-focus form-control" size="60" type="text" [(ngModel)]="transactionReason" id="bank_reason">
            <!-- <input maxlength="40" required="required" class="auto-focus form-control" size="60" type="text" ng-model="item.name" id="item_name"> -->
          </div>
        </div>

        <div class="inline-field">
          <span class="lbl">
            <label class="field-label -required" for="image">imagefile</label>
          </span>
          <div class="control">
            <input type="file" id="image" name="image"  accept=".jpg,.jpeg,.png" required>
            
          </div>
        </div>

        <div class="inline-field cntr">
          <button class="button sbutton" (click)="submit()">CREATE</button>
          <!--<button class="button sbutton" ng-click="createRentalItem()">CREATE</button>-->
        </div>
      </div>
    </div>
  </fieldset>
</div>