<div class="w-full h-full mt-14 bg-default">
    <div class="w-full h-96 bg-slate-800 flex items-center sm:justify-end">
        <span class="text-white text-7xl font-bold mr-48">Profile</span>
    </div>
    <div class="relative w-full flex-row">
        <div class="sm:ml-12 absolute -bottom-20 left-10 flex">
            <div class="relative">
                <app-image #profileImage class="absolute" [imageClass]="'rounded-full'"
                    [containerClass]="'h-0 w-0 sm:h-44 sm:w-44 rounded-full sm:visible'" *ngIf="!isLoading"
                    [imageId]="profile.imageId"></app-image>
                <div class="absolute bottom-0 w-full flex justify-center">
                    <button class="sm:visible invisible ml-[170px]" mat-icon-button *ngIf="isUser"
                        (click)="imageUpload.click()">
                        <i class="text-white fa-solid fa-camera"></i>
                    </button>

                    <input #imageUpload (change)="onFileUpload($event, imageUpload)" type="file" hidden="true"
                        data-testid="file-upload" />
                </div>
            </div>
            <span class="text-white -ml-10 sm:ml-[180px] mt-[140px]">
                <mat-spinner *ngIf="isLoading" [color]="'accent'" diameter="20"></mat-spinner>
                <span *ngIf="!isLoading">
                    {{profile.firstName}} {{profile.lastName}}
                </span>
                <button class="ml-2" mat-icon-button (click)="onEdit()">
                    <i class="text-white fa-solid fa-pencil-alt"></i>
                </button>
            </span>
        </div>
    </div>
    <div class="w-full h-24 bg-default">
    </div>
    <div class="w-full h-96 bg-default text-white" *ngIf="!isLoading">
        <mat-tab-group class="sm:ml-24 sm:mr-24 h-full" mat-stretch-tabs="false" [color]="'primary'"
            [backgroundColor]="'primary'">

            <mat-tab label="My tournaments">
                <div class="p-0 h-80 w-full bg-slate-800">
                    <span *ngIf="!tournaments || !tournaments.length">You don't have any tournaments created yet</span>
                    <div [routerLink]="['/tournament', tournament.id]"
                        class="align-middle flex border border-indigo-800 w-full h-20 cursor-pointer hover:bg-slate-700 bg-slate-800"
                        *ngFor="let tournament of tournaments">
                        <app-image style="align-self: center;" [containerClass]="'ml-2 w-16 h-16'"
                            [imageId]="tournament.imageId"
                            [imageSource]="'https://media.istockphoto.com/id/1357365823/vector/default-image-icon-vector-missing-picture-page-for-website-design-or-mobile-app-no-photo.jpg?s=612x612&w=0&k=20&c=PM_optEhHBTZkuJQLlCjLz-v3zzxp-1mpNQZsdjrbns='"></app-image>
                        <div style="align-self: center;" class="ml-2">
                            {{tournament.name}}
                        </div>
                        <div style="align-self: center;" class="ml-auto mr-2 text-right">
                            {{tournament.status.message}}
                            <span style="align-self: center; font-style: italic;"
                                *ngIf="tournament.status.isReadyForPrize">
                                (waiting for winner)
                            </span>
                            <span style="align-self: center; font-style: italic;"
                                *ngIf="tournament.status.isReadyForForcedEnd">
                                (force end is available)
                            </span>
                        </div>
                    </div>
                </div>
            </mat-tab>

            <mat-tab label="Joined tournaments">
                <div class="p-0 h-80 w-full bg-slate-800">
                    <span *ngIf="!joinedTournaments || !joinedTournaments.length">You have not joined any tournaments
                        yet</span>
                    <div [routerLink]="['/tournament', tournament.id]"
                        class="align-middle flex border border-indigo-800 w-full h-20 cursor-pointer hover:bg-slate-700 bg-slate-800"
                        *ngFor="let tournament of joinedTournaments">
                        <app-image style="align-self: center;" [containerClass]="'ml-2 w-16 h-16'"
                            [imageId]="tournament.imageId"
                            [imageSource]="'https://media.istockphoto.com/id/1357365823/vector/default-image-icon-vector-missing-picture-page-for-website-design-or-mobile-app-no-photo.jpg?s=612x612&w=0&k=20&c=PM_optEhHBTZkuJQLlCjLz-v3zzxp-1mpNQZsdjrbns='"></app-image>
                        <div style="align-self: center;" class="ml-2">
                            {{tournament.name}}
                        </div>
                        <div style="align-self: center;" class="ml-auto mr-2 text-right">
                            {{tournament.participantStatus}}
                        </div>
                    </div>
                </div>
            </mat-tab>

            <mat-tab label="Teams">
                <div class="p-0 h-80 w-full bg-slate-800">
                    <span *ngIf="!teams || !teams.length">You don't belong to any teams yet</span>
                    <div [routerLink]="['/team', team.id]"
                        class="align-middle flex border border-indigo-800 w-full h-20 cursor-pointer hover:bg-slate-700 bg-slate-800"
                        *ngFor="let team of teams">
                        <div style="align-self: center;" class="ml-2">
                            {{team.name}}
                        </div>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>