<h2 class="mt-16"></h2>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

<div class="header-paget">
  <h4>CREATE A TEAM</h4>
</div>

<div class="box mt-16">

  <fieldset class="form-fieldset">

    <div class="form-panel">

      <div class="body">

        <mat-form-field appearance="fill" class="inline-field">
          <mat-label>Team name</mat-label>
          <input matInput maxlength="40" required [(ngModel)]="Name" id="teamNameInput">
        </mat-form-field>

        <mat-form-field appearance="fill" class="inline-field">
          <mat-label>Description</mat-label>
          <textarea matInput required [(ngModel)]="Description" id="teamDescriptionInput"></textarea>
        </mat-form-field>

        <div class="inline-field cntr">
          <button mat-raised-button color="primary" (click)="createTeam()">CREATE</button>
        </div>

      </div>

    </div>

  </fieldset>

</div>
