<div class="mt-14">
  <div class="w-full bg-default flex items-center justify-center py-16">
    <span class="text-white text-3xl sm:text-6xl font-bold">TOURNAMENT</span>
  </div>
  <div class="bg-default h-16 text-center align-middle items-center justify-center flex" *ngIf="tournament && authService.isAdminOrOwner(tournament.ownerId) && tournamentStatus != null && tournamentStatus.isReadyForPrize">
    <span class="font-medium text-white">This tournament is over. Please select the winner.</span>
    <button mat-raised-button class="ml-2" color="accent" (click)="selectWinner()">Select winner!</button>
  </div>
  <div class="mx-14 border-slate-900" *ngIf="tournament">
    <div class="box">
      <fieldset class="form-fieldset">
        <div class="form-panel">
          <div class="body">
            <!-- Image -->
            <div class="ml-[5%] inline-field mt-0 mb-0">
              <span class="items-center flex">
                <app-image [imageId]="tournament.imageId" class="mx-auto py-2" [imageSource]="
                    'https://media.istockphoto.com/id/1357365823/vector/default-image-icon-vector-missing-picture-page-for-website-design-or-mobile-app-no-photo.jpg?s=612x612&w=0&k=20&c=PM_optEhHBTZkuJQLlCjLz-v3zzxp-1mpNQZsdjrbns='
                  " [imageClass]="'w-full h-64 object-cover rounded-md'" [containerClass]="'w-full'"></app-image>
              </span>
            </div>

            <!-- Name -->
            <div class="inline-field mt-0 mb-0">
              <span class="lbl items-center flex">
                <label class="field-label">Tournament name</label>
              </span>
              <div class="control">
                {{ tournament.name }}
              </div>
            </div>

            <!-- Start date -->
            <div class="inline-field mt-0 mb-0">
              <span class="lbl items-center flex">
                <label class="field-label">Start date</label>
              </span>
              <div class="control">
                <div class="flex justify-between">
                  {{ tournament.startDate | date : "MMM d, y" }}
                </div>
              </div>
            </div>

            <!-- Start time -->
            <div class="inline-field mt-0 mb-0">
              <span class="lbl items-center flex">
                <label class="field-label">Start time</label>
              </span>
              <div class="control">
                <div class="flex justify-between">
                  {{ tournament.startDate | date : "h:mm a" }}
                </div>
              </div>
            </div>

            <!-- End date -->
            <div class="inline-field mt-0 mb-0">
              <span class="lbl items-center flex">
                <label class="field-label">End date</label>
              </span>
              <div class="control">
                <div class="flex justify-between">
                  {{ tournament.endDate | date : "MMM d, y" }}
                </div>
              </div>
            </div>

            <!-- End time -->
            <div class="inline-field mt-0 mb-0">
              <span class="lbl items-center flex">
                <label class="field-label">End time</label>
              </span>
              <div class="control">
                <div class="flex justify-between">
                  {{ tournament.endDate | date : "h:mm a" }}
                </div>
              </div>
            </div>

            <!-- Entry fee -->
            <div class="inline-field mt-0 mb-0">
              <span class="lbl items-center flex">
                <label class="field-label">Entry fee</label>
              </span>
              <div class="control">
                {{ tournament.entryFee }} €
              </div>
            </div>

            <!-- Participants -->
            <div class="inline-field mt-0 mb-0">
              <span class="lbl items-center flex">
                <label class="field-label">Number of participants</label>
              </span>
              <div class="control">
                {{getParticipantCount()}}/{{ tournament.participantCount }}
              </div>
            </div>

            <!-- Prize -->
            <div class="inline-field mt-0 mb-0" *ngIf="tournament.prize">
              <span class="lbl items-center flex">
                <label class="field-label">Prize</label>
              </span>
              <div class="control">
                {{tournament.prize.name}}
              </div>
            </div>

            <div class="inline-field mt-0 mb-0">
              <div class="w-full flex">
                <button *ngIf="authService.isAdminOrOwner(tournament.ownerId)" mat-raised-button color="warn"
                  class="ml-[5%] mt-2" (click)="openDeleteDialog('0ms', '0ms')">
                  Delete
                </button>
                <button *ngIf="authService.isAdminOrOwner(tournament.ownerId)" mat-raised-button color="primary"
                  class="ml-[5%] mt-2" [routerLink]="['/tournament/update', tournament.id]">
                  Update
                </button>
              </div>
              <ng-container *ngIf="!authService.isOwner(tournament.ownerId)">
                <button *ngIf="!tournament.isJoined && !isFull()" mat-raised-button class="w-1/3 mt-2" color="primary" (click)="join()">
                  Join
                </button>
                <button *ngIf="tournament.isJoined" mat-raised-button class="w-1/3 mt-2" color="warn" (click)="leave()">
                  Leave
                </button>
              </ng-container>
            </div>
          </div>
        </div>
      </fieldset>
    </div>
  </div>
</div>