<div class="mt-14">
    <div class="w-full bg-default flex items-center justify-center py-16">
      <span class="text-white text-3xl sm:text-6xl font-bold">TEAMS</span>
    </div>
    <div class="w-full flex justify-center mt-3">
      <div class="w-2/3">
        <button
          class="mt-2"
          mat-raised-button
          color="primary"
          (click)="routing.goToTeamsCreate()"
        >
          Create a new team!
        </button>
      </div>
    </div>
</div>

<div class="w-full flex justify-center mt-3">
  <div class="w-2/3">
    <div
      *ngFor="let teamWithMembers of teamsWithMembers"
      class="mb-3 cursor-pointer hover:bg-slate-100 hover:scale-105 transform transition duration-500"
      [routerLink]="['/team', teamWithMembers.team.id]"
    >
      <div class="flex">
        <div>
          <div matListItemTitle class="font-bold text-lg">
            Name: {{ teamWithMembers.team.name }}
          </div>
          <div matListItemLine class="font-bold text-lg">
            Owner:
          </div>
          <div matListItemLine class="font-bold text-lg">
            Description: {{ teamWithMembers.team.description }}
          </div>
             
          <div class="card-body">
            <h5 class="font-bold text-lg">Team Members</h5>
            <ul>
              <li *ngFor="let member of teamWithMembers.members">{{ member.name }}</li>
            </ul>
          </div>

        </div>
      </div>
      <mat-divider></mat-divider>
    </div>
  </div>
</div>
