<div class="mt-10">
  <div class="w-full bg-default flex items-center justify-center py-16 -mt-1">
    <span class="text-white text-3xl sm:text-6xl font-bold">TEAMS</span>
  </div>
  <div class="w-full flex justify-center mt-3">
    <div class="w-2/3">
      <button *showForAuthenticatedUser class="mt-2" mat-raised-button color="primary"
        (click)="routing.goToTeamsCreate()">
        Create a new team!
      </button>
    </div>
  </div>
</div>

<div class="w-full flex justify-center mt-3">
  <div class="w-2/3">
    <div *ngFor="let teamWithMembers of teamsWithMembers"
      class="mb-3 cursor-pointer hover:bg-slate-100 hover:scale-105 transform transition duration-500"
      [routerLink]="['/team', teamWithMembers.team.id]">
      <div class="bg-white shadow-md rounded-lg px-6 py-8">
        <h2 class="text-lg font-bold team-name">{{ teamWithMembers.team.name }}</h2>
        <div>
          <p class="text-md font-bold description">Description: {{ teamWithMembers.team.description }}</p>
          <ul>
            <h5 class="font-bold text-base mb-2">Team Members:</h5>
            <li *ngFor="let member of teamWithMembers.members" class="text-gray-500 text-md">
              <ng-container *ngIf="member.role === 'Member'">
                {{ member.profile?.firstName }} {{ member.profile?.lastName }}
              </ng-container>
            </li>
          </ul>
          <div *ngFor="let member of teamWithMembers.members">
            <button *ngIf="member.userId == authService.getAuthUserId()" mat-raised-button color="primary"
              class="ml-[90%] mt-2" (click)="leaveTeam($event, teamWithMembers.team.id, member)">Leave</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>