<div class="mt-14">
  <div class="w-full bg-default flex items-center justify-center py-16">
    <span class="text-white text-3xl sm:text-6xl font-bold">CREATE A TEAM</span>
  </div>
  <form class="mx-14 border-slate-900" [formGroup]="createForm">
    <div class="box">
      <fieldset class="form-fieldset">
        <div class="form-panel">
          <div class="body">
            <!-- Team name -->
            <div class="inline-field mt-0 mb-0">
              <span class="lbl items-center flex">
                <label class="field-label">Team name</label>
              </span>
              <div class="control">
                <mat-form-field appearance="outline" class="w-full mt-2">
                  <input formControlName="Name" type="text" matInput>
                </mat-form-field>
              </div>
            </div>
            <!-- Description -->
            <div class="inline-field mt-0 mb-0">
              <span class="lbl items-center flex">
                <label class="field-label">Description</label>
              </span>
              <div class="control">
                <mat-form-field appearance="outline" class="w-full mt-2">
                  <input formControlName="Description" type="text" matInput>
                </mat-form-field>
              </div>
            </div>
            <!-- Add members-->
            <div class="inline-field mt-0 mb-0">
              <span class="lbl items-center flex">
                <label class="field-label">Add members</label>
              </span>
              <div class="control">
                <mat-form-field appearance="outline" class="w-full mt-2">
                  <mat-select formControlName="Members" multiple [compareWith]="compareFn">
                    <mat-option *ngFor="let member of availableMembers" [value]="member">{{ member.name }}</mat-option>
                  </mat-select>                  
                </mat-form-field>
              </div>
            </div>
            <!-- Button -->
            <div class="inline-field mt-0 mb-0">
              <span class="lbl items-center flex">
              </span>
              <div class="w-full">
                <button mat-raised-button class="w-1/3 float-middle mt-2" color="primary"
                  (click)="createTeam()">Create</button>
              </div>
            </div>
          </div>
        </div>
      </fieldset>
    </div>
  </form>
</div>
