<div class="mt-14">
  <div class="w-full bg-default flex items-center justify-center py-16">
    <span class="text-white text-3xl sm:text-6xl font-bold">CREATE TOURNAMENT</span>
  </div>
  <form class="mx-14 border-slate-900" [formGroup]="createForm">
    <div class="box">
      <fieldset class="form-fieldset">
        <div class="form-panel">
          <div class="body">
            <!-- Name -->
            <div class="inline-field mt-0 mb-0">
              <span class="lbl items-center flex">
                <label class="field-label">Tournament name</label>
              </span>
              <div class="control">
                <mat-form-field appearance="outline" class="w-full mt-2">
                  <input formControlName="name" type="text" matInput>
                </mat-form-field>
              </div>
            </div>
            <!-- Start date -->
            <div class="inline-field mt-0 mb-0">
              <span class="lbl items-center flex">
                <label class="field-label">Start date</label>
              </span>
              <div class="control">
                <div class="flex justify-between">
                  <mat-form-field class="w-full" appearance="outline">
                    <input formControlName="startDate" matInput [matDatepicker]="startPicker">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="startPicker"></mat-datepicker-toggle>
                    <mat-datepicker #startPicker></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <!-- Start time -->
            <div class="inline-field mt-0 mb-0">
              <span class="lbl items-center flex">
                <label class="field-label">Start time</label>
              </span>
              <div class="control">
                <div class="flex justify-between">
                  <ngx-mat-timepicker formControlName="startTime"  [showSpinners]="true" [stepHour]="1"
                    [stepMinute]="1" [showSeconds]="false">
                  </ngx-mat-timepicker>
                </div>
              </div>
            </div>
            <!-- End date -->
            <div class="inline-field mt-0 mb-0">
              <span class="lbl items-center flex">
                <label class="field-label">End date</label>
              </span>
              <div class="control">
                <div class="flex justify-between">
                  <mat-form-field class="w-full" appearance="outline">
                    <input formControlName="endDate" matInput [matDatepicker]="picker2">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <!-- End time -->
            <div class="inline-field mt-0 mb-0">
              <span class="lbl items-center flex">
                <label class="field-label">End time</label>
              </span>
              <div class="control">
                <div class="flex justify-between">
                  <ngx-mat-timepicker formControlName="endTime"  [showSpinners]="true" [stepHour]="1"
                    [stepMinute]="1" [showSeconds]="false">
                  </ngx-mat-timepicker>
                </div>
              </div>
            </div>
            <!-- Entry fee -->
            <div class="inline-field mt-0 mb-0">
              <span class="lbl items-center flex">
                <label class="field-label">Entry fee</label>
              </span>
              <div class="control">
                <mat-form-field class="w-full" appearance="outline">
                  <input [min]="0" [minlength]="0" formControlName="entryFee" class="w-full" type="text" matInput>
                </mat-form-field>
              </div>
            </div>
            <!-- Participants -->
            <div class="inline-field mt-0 mb-0">
              <span class="lbl items-center flex">
                <label class="field-label">Number of participants</label>
              </span>
              <div class="control">
                <mat-form-field class="w-full" appearance="outline">
                  <input formControlName="participantCount" class="w-full" type="text" matInput name="value">
                </mat-form-field>
              </div>
            </div>
            <!-- Image -->
            <div class="inline-field mt-0 mb-0">
              <span class="lbl items-center flex">
                <label class="field-label">Image</label>
              </span>
              <div class="control">
                <input #imageUpload (change)="onFileUpload($event, imageUpload)" type="file" hidden="true">
                <button mat-button class="w-full mb-2" color="primary" (click)="imageUpload.click()">Upload</button>
                <app-image *ngIf="pictureSource != null" class="mx-auto py-2" [imageSource]="pictureSource"
                  [imageClass]="'w-full'" [containerClass]="'w-full'"></app-image>
              </div>
            </div>
            <div class="inline-field mt-0 mb-0">
              <span class="lbl items-center flex">
              </span>
              <div class="w-full">
                <button mat-raised-button class="w-1/3 float-right mt-2" color="primary"
                  (click)="create()">Create</button>
              </div>
            </div>
          </div>
        </div>
      </fieldset>
    </div>
  </form>
</div>