@use "@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
    height: 100%;
    @apply bg-neutral-50;
    @apply text-slate-700;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-default {
    background-color: #3f51b5 !important;
}

.mat-mdc-snack-bar-container {
    &.blue-snackbar {
        --mdc-snackbar-container-color: #3f51b5;
        --mat-mdc-snack-bar-button-color: #fff;
        --mdc-snackbar-supporting-text-color: #fff;
    }

    &.blue-snackbar-error {
        --mdc-snackbar-container-color: #3f51b5;
        --mat-mdc-snack-bar-button-color: #fff;
        --mdc-snackbar-supporting-text-color: pink;
    }
}