<div class="mt-14">
  <div class="w-full bg-default flex items-center justify-center py-16">
    <span class="text-white text-3xl sm:text-6xl font-bold">RENTAL ITEM DETAILS</span>
  </div>

  <div class="mx-14 border-slate-900">
    <div class="box">
      <fieldset class="form-fieldset">
        <div class="form-panel">
          <div class="body relative" *ngIf="item">
            <app-rental-cart-add-button *ngIf="!authService.isOwner(item.ownerId) && authService.isLoggedIn()"
              class="absolute right-0 mr-5" [item]="item"></app-rental-cart-add-button>
            <div class="ml-[5%] inline-field mt-0 mb-0">
              <span class="items-center flex">
                <app-image [imageId]="item.imageId" class="mx-auto py-2" [imageSource]="
          'https://media.istockphoto.com/id/1357365823/vector/default-image-icon-vector-missing-picture-page-for-website-design-or-mobile-app-no-photo.jpg?s=612x612&w=0&k=20&c=PM_optEhHBTZkuJQLlCjLz-v3zzxp-1mpNQZsdjrbns='
        " [imageClass]="'w-full h-64 object-cover rounded-md'" [containerClass]="'w-full'"></app-image>
              </span>
            </div>

            <div class="inline-field mt-0 mb-0">
              <span class="lbl items-center flex">
                <label class="field-label">Item name</label>
              </span>
              <div class="control">
                {{ item.name }}
              </div>
            </div>

            <div class="inline-field mt-0 mb-0">
              <span class="lbl items-center flex">
                <label class="field-label">Description</label>
              </span>
              <div class="control">
                {{ item.description }}
              </div>
            </div>

            <div class="inline-field mt-0 mb-0">
              <span class="lbl items-center flex">
                <label class="field-label">Price</label>
              </span>
              <div class="control">
                {{ item.price }} €
              </div>
            </div>

            <div class="inline-field mt-0 mb-0" *ngIf="authService.isAdminOrOwner(item.ownerId)">
              <div class="w-full flex justify-between">
                <div class="w-full flex">
                  <button *ngIf="authService.isAdminOrOwner(item.ownerId)" mat-raised-button color="warn"
                    class="ml-[5%]  mt-2" (click)="openDeleteDialog('0ms', '0ms')">
                    Delete
                  </button>
                  <button *ngIf="authService.isAdminOrOwner(item.ownerId)" mat-raised-button color="primary"
                    class="ml-2 mt-2" [routerLink]="['/rental/edit', item.id]">
                    Update
                  </button>
                </div>
                <!-- <button mat-raised-button (click)="openDialog('10ms', '10ms')" class="ml-[5%] mt-2"
                  color="yellow">Highlight</button> -->
              </div>
            </div>
          </div>
        </div>